ES.1 Esercizio Abbiamo una lista di liste: mat = [[0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [10, 11, 12, 13, 14]] Che tipo di struttura dati o matematica potrebbe rappresentare? Notare che tutte le liste "interne" sono della stessa dimensione Come facciamo per accedere ad un elemento in particolare?

In [5]:
mat = [[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9],
       [10, 11, 12, 13, 14]] # Dato di tipo tabellare

In [7]:
mat[1][0]

5

ES.2 Esercizio Importiamo il modulo math e proviamo a usare le funzioni .sin() .cos() .factorial() e la variabile .pi la riconoscete?

In [17]:
import math

In [19]:
math.sin(30) # Lavora per radianti

-0.9880316240928618

In [23]:
print(math.pi)
print(math.degrees(math.pi))

3.141592653589793
180.0

ES.3 Esercizio Proviamo a eseguire math.degrees(math.pi) Qual è e cosa significa il risultato? Per saperne di più su questa funzione possiamo usare help(math.degrees)

In [21]:
math.factorial(5)

120

In [25]:
help(math.degrees)

Help on built-in function degrees in module math:

degrees(x, /)
    Convert angle x from radians to degrees.

ES.4 Esercizio L'azienda Object SpA ha creato una lista di quanti oggetti ha venduto ogni mese nell'ultimo anno: lst = [2000, 5500, 7200, 4320, 1280, 1900, 2500, 3900, 6410, 8150, 7100, 5350] trasformiamola in un array NumPy (casting): lst = np.array(lst) e rispondiamo alle domande del CEO della Object SpA: • qual è stata la vendita massima mensile? E quella minima? • quali sono le vendite mensili maggiori di 5000 oggetti? E quante ne sono? • quali sono le vendite minori di 3000 oggetti? 5 • in media quanti oggetti sono stati venduti al mese?

In [29]:
import numpy as np
lst = [2000, 5500, 7200, 4320, 1280, 1900,
       2500, 3900, 6410, 8150, 7100, 5350]
lst = np.array(lst)

In [31]:
print(lst.max(), lst.min()) # Recuperare indice di un elemento di array

8150 1280

In [33]:
np.where(lst == lst.max())[0][0] # Recuperare indice  di un elemento di un array

9

In [35]:
filtro = lst > 5000 # Vendite maggiori di 5000 e quante sono
quary = lst[filtro] # Assegno ad una variabile

In [55]:
print(quary)
len(quary) # Stampo a video

[5500 7200 6410 8150 7100 5350]

6

In [43]:
filtro2 = lst < 3000
quary2 = lst[filtro2]

In [57]:
print(quary2)
len(quary2)

[2000 1280 1900 2500]

4

In [61]:
print('in media le vendite ogni mese sono state di', round (lst.mean(),2), 'unità')

in media le vendite ogni mese sono state di 4634.17 unità

ES.5 Esercizio Consideriamo il seguente dizionario: fatturati_dict = {1997: 12_000, 1998: 15_000, 1999: 20_000, 2000: 23_000, 2001: 25_000, 2002: 17_000, 2003: 14_000, 2004: 21_000} Consideriamo ora la seguente Series: fatturati_series = pd.Series([12_000, 15_000, 20_000, 23_000, 25_000, 17_000, 14_000, 21_000], index=range(1997, 2005)) Possiamo accedere alle stesse informazioni nello stesso modo: fatturati_dict[1997] fatturati_series[1997] Dunque qual è la differenza tra i due tipi di dato? 6 Cosa potremmo fare con la Series che non possiamo fare con il dizionario?

In [49]:
fatturati_dict = {1997: 12_000, 1998: 15_000, 1999: 20_000, 2000: 23_000, 2001: 25_000, 2002: 17_000, 2003: 14_000, 2004: 21_000}

In [65]:
import pandas as pd
fatturati_series = pd.Series([12_000, 15_000, 20_000, 23_000, 25_000, 17_000, 14_000, 21_000], index=range(1997, 2005))

In [73]:
fatturati_series.loc[1999:2001]

1999    20000
2000    23000
2001    25000
dtype: int64

In [75]:
fatturati_dict[2000]

23000

ES.6 L'azienda Object SpA ha un dataset con tutti gli stipendi dei dipendenti, memorizzato in un ndarray: import numpy as np stipendi = np.array( [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000] ) L'azienda ci chiede di raddoppiare tutti gli stipendi; facciamolo in due modi: • con un ciclo for

In [77]:
import numpy as np
stipendi = np.array( [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000] )

In [92]:
stipendi_doppi = []
for stipendio in stipendi:
    stipendi_doppi.append( int( stipendio*2) )
    print(stipendi_doppi)

[200]
[200, 400]
[200, 400, 600]
[200, 400, 600, 800]
[200, 400, 600, 800, 1000]
[200, 400, 600, 800, 1000, 1200]
[200, 400, 600, 800, 1000, 1200, 1400]
[200, 400, 600, 800, 1000, 1200, 1400, 1600]
[200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800]
[200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000]

In [100]:
stipendi_doppi = stipendi * 2
print(stipendi_doppi)

[ 200  400  600  800 1000 1200 1400 1600 1800 2000]

ES.7 Esercizio Scrivere un programma che, data una lista di numeri, fornisca in output i tre numeri più grandi; gestire il caso in cui la lista sia più corta di tre, e quando uno o più dei numeri selezionati sono uguali.

In [117]:
numeri = [2, 7, 50, 4, 200, 32, 77, 200, 10, 200]

lunghezza = len(numeri)

if lunghezza <= 3:
    print("I massimi sono:", numeri)
else:
    numeri = set(numeri)  # elimino i duplicati
    numeri = list(numeri)  # perché il set non è ordinato
    numeri.sort(reverse=True)
    print("I massimi sono:", numeri[:3])

I massimi sono: [200, 77, 50]

In [110]:
help(numeri.sort)

Help on built-in function sort:

sort(*, key=None, reverse=False) method of builtins.list instance
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

ES.8 Esercizio Scrivere un programma che • in input acquisisce una lista di numeri e un numero K • in output, dovrà restituire la media di tutti i numeri nella lista maggiori o uguali a K • se non ce ne dovesse essere nessuno, dovrà stampare a schermo un messaggio adeguato.

In [123]:
numeri = [30, 50, 10, 60, 20, 100]
K = 20

numeri = np.array(numeri)  # casting
filtro = numeri >= K

selezione = numeri[filtro]

if len(selezione) > 0:
    print( "La media dei numeri maggiori di", K, "è", selezione.mean() )
else:
    print( "Non ci sono numeri maggiori di", K )

La media dei numeri maggiori di 20 è 52.0

ES.9 Scrivere un programma che, data una lista di numeri, come output stamperà lo stesso numero di asterischi su righe diverse, ottenendo una semplice visualizzazione grafica Esempio, supponendo di avere il seguente input: numeri = [5, 2, 3, 4] L'output sarà: ***** ** *** ****

In [127]:
numeri = [5, 10, 4, 2, 12, 7]

for numero in numeri:
    print("*" * numero)

*****
**********
****
**
************
*******

ES.10 Abbiamo una lista di codici fiscali: lista_cf = ["ABCDEF95G01A123B", "GHIJKL91M02A321C", "MNOPQR89S03A456D", "STUVWX95Z04A654E", "XYZABC01D05A789F", "DEFGHI95J06A987G"] • trovare i codici fiscali che contengono "95", metterli in una lista, e alla fine stamparla; • inoltre, per ognuno di essi, stampare a video i caratteri relativi al nome e quelli relativi al cognome.

In [130]:
lista_cf = ["ABCDEF95G01A123B", "GHIJKL91M02A321C", "MNOPQR89S03A456D", 
            "STUVWX95Z04A654E", "XYZABC01D05A789F", "DEFGHI95J06A987G"]

for cf in lista_cf:
    if "95" in cf:
        print(cf, cf[:3], cf[3:6])

ABCDEF95G01A123B ABC DEF
STUVWX95Z04A654E STU VWX
DEFGHI95J06A987G DEF GHI

ES.11 Abbiamo tre liste della stessa lunghezza, dove ogni elemento nella medesima posizione si riferisce ai dati dello stesso studente: studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry"] corsi = ["Cybersecurity", "Data Analyst", "Backend", "Frontend", "Data Analyst", "Backend", "Frontend", "Cybersecurity"] edizioni = [1, 2, 3, 2, 2, 1, 3, 3] • Stampare a video tutti e soli gli studenti che frequentano una prima edizione; non tutti i dati potrebbero essere necessari.

In [135]:
studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry"]
corsi = ["Cybersecurity", "Data Analyst", "Backend", "Frontend", "Data Analyst", "Backend", "Frontend", "Cybersecurity"]
edizioni = [1, 2, 3, 2, 2, 1, 3, 3]

In [145]:
list( range(lunghezza) ) # Numeri progressivi

[0, 1, 2, 3, 4, 5, 6, 7]

In [147]:
lunghezza = len(studenti)

for indice in range(lunghezza):
    studente = studenti[indice]
    edizione = edizioni[indice]
    if edizione == 1:
        print(studente)

Alex
Faith

In [151]:
df = pd.DataFrame( {"studente": studenti, "corso": corsi, "edizione": edizioni} )
df

  studente          corso  edizione
0     Alex  Cybersecurity         1
1      Bob   Data Analyst         2
2    Cindy        Backend         3
3      Dan       Frontend         2
4     Emma   Data Analyst         2
5    Faith        Backend         1
6    Grace       Frontend         3
7    Henry  Cybersecurity         3

In [154]:
print( df.values )

[['Alex' 'Cybersecurity' 1]
 ['Bob' 'Data Analyst' 2]
 ['Cindy' 'Backend' 3]
 ['Dan' 'Frontend' 2]
 ['Emma' 'Data Analyst' 2]
 ['Faith' 'Backend' 1]
 ['Grace' 'Frontend' 3]
 ['Henry' 'Cybersecurity' 3]]

ES.12 Abbiamo una lista di stringhe di prezzi in dollari, che erroneamente sono stati scritti con il simbolo dell'euro: prezzi = ["100 €", "200 €", "500 €", "10 €", "50 €", "70 €"] cambiare il simbolo dell'euro (€) in quello del dollaro ($) per ogni stringa nella lista; il risultato sarà memorizzato in un'altra lista.

In [157]:
prezzi = ["100 €", "200 €", "500 €", "10 €", "50 €", "70 €"]
nuovi_prezzi = []

for prezzo in prezzi:
    nuovo_prezzo = prezzo.replace("€", "$")
    nuovi_prezzi.append(nuovo_prezzo)
    
print(nuovi_prezzi)

['100 $', '200 $', '500 $', '10 $', '50 $', '70 $']

ES.12 Abbiamo una lista di studenti: studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry", "Isabelle", "John"] vogliamo dividere gli studenti in due squadre per un campionato di Uno nel seguente modo: selezioneremo i nomi in posizione pari per un squadra, e i nomi in posizione dispari per l'altra. Creiamo due liste per ogni squadra, e alla fine visualizziamole.

In [160]:
studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry", "Isabelle", "John"]

In [163]:
studenti[::2]

['Alex', 'Cindy', 'Emma', 'Grace', 'Isabelle']

ES.13 Esercizio Abbiamo una lista con i guadagni degli ultimi 12 mesi (supponiamo da Gennaio a Dicembre): guadagni = [100, 90, 70, 40, 50, 80, 90, 120, 80, 20, 50, 50] dobbiamo confrontare, stampando tutto a video, il guadagno di ogni mese con la media dei guadagni precedenti, e specificare nell'output se il guadagno attuale è maggiore o minore della media dei precedenti. Esempio di un possibile output: Mese 1: 100 € Mese 2: 90 € (media prec: 100 € - il guadagno attuale è minore) Mese 3: 70 € (media prec: 95 € - il guadagno attuale è minore)

In [167]:
guadagni = [100, 90, 70, 40, 50, 80, 90, 120, 80, 20, 50, 50]
conteggio = 1
somma = 0

for guadagno in guadagni:
    if conteggio == 1:
        print(f"Mese {conteggio}: {guadagno} €")
    else:
        if guadagno < media:
            print(f"Mese {conteggio}: {guadagno} € (media prec: {media} € - minore)")
        else:
            print(f"Mese {conteggio}: {guadagno} € (media prec: {media} € - maggiore)")
    somma += guadagno
    media = somma / conteggio
    conteggio += 1

Mese 1: 100 €
Mese 2: 90 € (media prec: 100.0 € - minore)
Mese 3: 70 € (media prec: 95.0 € - minore)
Mese 4: 40 € (media prec: 86.66666666666667 € - minore)
Mese 5: 50 € (media prec: 75.0 € - minore)
Mese 6: 80 € (media prec: 70.0 € - maggiore)
Mese 7: 90 € (media prec: 71.66666666666667 € - maggiore)
Mese 8: 120 € (media prec: 74.28571428571429 € - maggiore)
Mese 9: 80 € (media prec: 80.0 € - maggiore)
Mese 10: 20 € (media prec: 80.0 € - minore)
Mese 11: 50 € (media prec: 74.0 € - minore)
Mese 12: 50 € (media prec: 71.81818181818181 € - minore)