ES.1 1/2 Andiamo su http://www.datiopen.it/it/opendata/Mappa_dei_pub_circoli_locali_in_Italia e scarichiamo il file (in formato CSV) della mappa dei pub, circoli e locali in Italia Nota: il dataset non ha un encoding UTF-8 ma Latin1; inoltre il separatore non è una virgola, ma un punto e virgola. Dunque per leggerlo dovremo aggiungere i parametri encoding= e sep=, ad esempio: pd.read_csv(file_path, encoding="latin1", sep=";") 2 dove file_path è la posizione del file nel nostro calcolatore.

In [5]:
import pandas as pd
file_path = "C:/Users/UTENTE/Desktop/CORSO/Esercizi_PYTHON/dataset/datasets/altri_dataset/Mappa-dei-pub-circoli-locali-in-Italia.csv"
df = pd.read_csv(file_path, encoding="latin1", sep=";")

ES.1 2/2 Esaminiamo il dataset:
• quanti dati ci sono in totale?
• quali sono i metadati?
• stampiamo il primo elemento
• stampiamo l'ultimo elemento
• riusciamo a stampare un elemento a caso?
• quali sono gli anni di inserimento presenti?
• quante attività ci sono nel quadrato di longitudine 9-10 e latitudine 45-46?
• quante attività ci sono nella provincia di Vicenza?
• quante enoteche ci sono, e come si chiamano? 3
• quante attività ci sono in Lazio e Abruzzo assieme?

In [15]:
# Quanti dati ci sono in totale?
df.shape

(2635, 9)

In [17]:
# Quali sono i metedati?
df.columns

Index(['Comune', 'Provincia', 'Regione', 'Nome', 'Anno inserimento',
       'Data e ora inserimento', 'Identificatore in OpenStreetMap',
       'Longitudine', 'Latitudine'],
      dtype='object')

In [23]:
# Stampiamo il primo elemento
df.iloc[0]

Comune                                            ALTRO
Provincia                                         ALTRO
Regione                                           ALTRO
Nome                                                NaN
Anno inserimento                                   2011
Data e ora inserimento             2011-06-25T23:17:43Z
Identificatore in OpenStreetMap              1339088150
Longitudine                                   13.733257
Latitudine                                     45.57583
Name: 0, dtype: object

In [25]:
# Stampiamo l'ultimo elemento
df.iloc[-1]

Comune                                             TRANI
Provincia                          BARLETTA-ANDRIA-TRANI
Regione                                           Puglia
Nome                                        Well's Fargo
Anno inserimento                                    2009
Data e ora inserimento              2009-08-10T12:44:03Z
Identificatore in OpenStreetMap                387223648
Longitudine                                    16.436765
Latitudine                                     41.267264
Name: 2634, dtype: object

In [29]:
# Stampiamo elemento a caso
df.sample(3)

,Comune,Provincia,Regione,Nome,Anno inserimento,Data e ora inserimento,Identificatore in OpenStreetMap,Longitudine,Latitudine
91,SAN GERMANO VERCELLESE,VERCELLI,Piemonte,Albergo delle Miniere,2012,2012-07-28T14:54:03Z,1841428092,8.246670,45.349980
506,MILANO,CITTA' METROPOLITANA DI MILANO,Lombardia,Hemingway Café,2012,2012-11-26T08:24:07Z,2034349326,9.231591,45.485074
2499,GAGLIANICO,BIELLA,Piemonte,Wood Pub,2014,2014-03-04T14:33:36Z,2701336992,8.074982,45.532151

In [35]:
# Quali sono gli anni di inserimento presenti?
df["Anno inserimento"].sort_values()

2190    2007
1047    2008
1254    2008
833     2008
809     2008
        ...
1471    2016
1694    2016
2036    2016
1432    2016
2174    2016
Name: Anno inserimento, Length: 2635, dtype: int64

In [51]:
# Quante attività ci sono nel quadrato di longitudine 9-10 e latitudine 45-46?
filtro_lat_log = df[
    df["Longitudine"].between(9, 10) &
    df["Latitudine"].between(45, 46)
]
print("attivi_lat_log :",len("filtro_lat_long"))

attivi_lat_log : 15

In [55]:
# Quante attività ci sono nella provincia di Vicenza?
filtro = df[df["Provincia"] == "VICENZA"]
print("Attività in provincia di Vicenza:",len (filtro))

Attività in provincia di Vicenza: 73

In [61]:
# Quante enoteche ci sono, e come si chiamano?
enoteche = df[df["Nome"].str.contains("enoteca", case = False, na = False)]
print("Numero di enoteche:",len(enoteche))
print("Nomi delle enoteche:",enoteche["Nome"].unique())

Numero di enoteche: 6
Nomi delle enoteche: ['Enoteca con Cucina""Tirolin""' 'Concordia Enoteca' 'Enoteca Umberto'
 'Enoteca ""Al Brindisi""' 'Enoteca ""da Massimo""'
 'Enoteca Il Violino Rosso']

In [67]:
print(enoteche["Provincia"].value_counts()) # quantità di enoteche

Provincia
FERRARA                           2
CITTA' METROPOLITANA DI TORINO    1
CITTA' METROPOLITANA DI MILANO    1
VICENZA                           1
PISA                              1
Name: count, dtype: int64

In [88]:
# Quante attività ci sono in Lazio e in Abruzzo assieme?
filtro_lazio_abruzzo = df[df["Regione"].isin(["Lazio", "Abruzzo"])]
res = filtro.groupby("Regione").size()
res = pd.concat([res, pd.Series({"Totale": res.sum()})])
print("Attività in Lazio e Abruzzo:\n",res)

Attività in Lazio e Abruzzo:
 Abruzzo     48
Lazio      289
Totale     337
dtype: int64

ES.2 Il dataset insurance.csv dei beginner_datasets contiene dati su caratteristiche e abitudini delle persone rispetto ai costi individuali per le cure mediche come premio per le assicurazioni sulla salute.
• Visualizziamone le dimensioni, un'anteprima, e osserviamo i nomi di colonna;
• Quali sono le medie di charges rispetto a region? Ci sono differenze significative?
• E rispetto a smoker? E a sex?
• Quali sono i descrittori statistici di bmi? Quali sono minimo, media e massimo di charges rispetto ai diversi quartili dei valori di bmi? Nota: è lo stesso esercizio della volta scorsa, ma stavolta da eseguire con il metodo .groupby()

In [95]:
df_insurace = pd.read_csv("C:/Users/UTENTE/Desktop/CORSO/Esercizi_PYTHON/dataset/datasets/beginner_datasets/insurance.csv")
# Visualizziamone le dimensioni, un'anteprima, e osserviamo i nomi di colonna;
df_insurace.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [105]:
# Quali sono le medie di charges rispetto a region? Ci sono differenze significative?
df_insurace.groupby("region")["charges"].mean().round()

region
northeast    13406.0
northwest    12418.0
southeast    14735.0
southwest    12347.0
Name: charges, dtype: float64

In [109]:
# E rispetto a smoker? E a sex?
df_insurace.groupby("smoker")["charges"].agg(["mean", "count", "sum"])

                mean  count           sum
smoker
no       8434.268298   1064  8.974061e+06
yes     32050.231832    274  8.781764e+06

In [122]:
# Quali sono i descrittori statistici di bmi? Quali sono minimo, media e massimo di charges rispetto ai diversi quartili dei valori di bmi?
print("Descrittori statistici di BMI:")
print(descrittori_bmi) 
risultato = df_insurace.groupby('bmi')['charges'].agg(['min', 'mean', 'max'])

print("\nMin, media e max di 'charges' per quartili di BMI:")

Descrittori statistici di BMI:
count    1338.000000
mean       30.663397
std         6.098187
min        15.960000
25%        26.296250
50%        30.400000
75%        34.693750
max        53.130000
Name: bmi, dtype: float64

Min, media e max di 'charges' per quartili di BMI:

ES.3 Carichiamo in un DataFrame il dataset iris.csv dei beginner_datasets e calcoliamo:
• La media della lunghezza dei petali di tutto il dataset 
• La media della lunghezza dei petali per ogni specie di Iris, utilizzando il metodo .groupby()
• Media, minimo e massimo della larghezza dei sepali per ogni specie, utilizzando .groupby() e .agg()

In [124]:
df_iris = pd.read_csv("C:/Users/UTENTE/Desktop/CORSO/Esercizi_PYTHON/dataset/datasets/beginner_datasets/iris.csv")
df_iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [126]:
df_iris.shape

(150, 5)

In [128]:
df_iris.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [130]:
# La media della lunghezza dei petali di tutto il dataset
df_iris["petal_length"].mean()

3.758666666666666

In [136]:
# La media della lunghezza dei petali per ogni specie di Iris, utilizzando il metodo .groupby()
df_iris.groupby("species")["petal_length"].mean()

species
Iris-setosa        1.464
Iris-versicolor    4.260
Iris-virginica     5.552
Name: petal_length, dtype: float64

In [138]:
# Media, minimo e massimo della larghezza dei sepali per ogni specie, utilizzando .groupby() e .agg()
df_iris.groupby("species")["sepal_width"].agg(["mean", "min", "max"])

                  mean  min  max
species
Iris-setosa      3.418  2.3  4.4
Iris-versicolor  2.770  2.0  3.4
Iris-virginica   2.974  2.2  3.8

ES.4 Esercizio Nei beginner_datasets, il dataset wine.csv contiene delle analisi organolettiche su diverse qualità di vini:
• Qual è la media di concentrazione alcolica per ogni qualità? Ci sono differenze? E rispetto alla media totale?
• C'è differenza nella concentrazione alcolica per vini bianchi e vini rossi?
• Rifacendo le analisi dei due punti precedenti ma per il pH, cambia qualcosa?
• E per i solfati?

In [78]:
import pandas as pd
df_wine = pd.read_csv("C:/Users/UTENTE/Desktop/CORSO/Esercizi_PYTHON/dataset/datasets/beginner_datasets/wine.csv")
df_wine.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality', 'type'],
      dtype='object')

In [80]:
df_wine.shape

(6497, 13)

In [82]:
df_wine.dtypes

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
type                     object
dtype: object

In [84]:
# Qual è la media di concentrazione alcolica per ogni qualità? Ci sono differenze? E rispetto alla media totale?
df_wine.groupby("quality")["alcohol"].mean().round(2)

quality
3    10.22
4    10.18
5     9.84
6    10.59
7    11.39
8    11.68
9    12.18
Name: alcohol, dtype: float64

In [86]:
print("Media:", df_wine["alcohol"].mean().round(2))
df_wine.groupby("quality")["alcohol"].mean().round(2)

Media: 10.49

quality
3    10.22
4    10.18
5     9.84
6    10.59
7    11.39
8    11.68
9    12.18
Name: alcohol, dtype: float64

In [88]:
# C'è differenza nella concentrazione alcolica per vini bianchi e vini rossi?
df_wine.groupby("type")["alcohol"].mean().round(2)

type
red      10.42
white    10.51
Name: alcohol, dtype: float64

In [90]:
# Rifacendo le analisi dei due punti precedenti ma per il pH, cambia qualcosa?
df_wine.groupby("quality")["pH"].mean().round(2)

quality
3    3.26
4    3.23
5    3.21
6    3.22
7    3.23
8    3.22
9    3.31
Name: pH, dtype: float64

In [92]:
# E per i solfati?
df_wine2_total = df_wine[["alcohol", "sulphates", "pH"]].mean().round(2)
df_wine2 = df_wine.groupby("quality")[["alcohol","sulphates", "pH"]].mean().round(2)
print("media:", df_wine2_total)
print(df_wine2)

media: alcohol      10.49
sulphates     0.53
pH            3.22
dtype: float64
         alcohol  sulphates    pH
quality
3          10.22       0.51  3.26
4          10.18       0.51  3.23
5           9.84       0.53  3.21
6          10.59       0.53  3.22
7          11.39       0.55  3.23
8          11.68       0.51  3.22
9          12.18       0.47  3.31

ES.5 1/3 Nei beginner_datasets, il file boston.csv contiene il Boston Housing Dataset, che deriva dalle informazioni raccolte dal Census Service degli Stati Uniti sulle abitazioni nell'area di Boston.
Di seguito vengono descritte le colonne del dataset:
• CRIM -tasso di criminalità pro capite per città
• ZN - proporzione di terreni residenziali suddivisi in zone per lotti superiori a 25.000 piedi quadrati.
• INDUS - percentuale di acri di attività commerciali non al dettaglio per città.
• CHAS -variabile dummy del fiume Charles (1 se il tratto costeggia il fiume; 0 altrimenti)

In [94]:
df_boston = pd.read_csv("C:/Users/UTENTE/Desktop/CORSO/Esercizi_PYTHON/dataset/datasets/beginner_datasets/boston.csv")

In [96]:
df_boston[["crim", "zn", "indus", "chas"]].describe().round(2)

         crim      zn   indus    chas
count  506.00  506.00  506.00  506.00
mean     3.61   11.36   11.14    0.07
std      8.60   23.32    6.86    0.25
min      0.01    0.00    0.46    0.00
25%      0.08    0.00    5.19    0.00
50%      0.26    0.00    9.69    0.00
75%      3.68   12.50   18.10    0.00
max     88.98  100.00   27.74    1.00

In [98]:
df_boston["chas"].value_counts()

chas
0    471
1     35
Name: count, dtype: int64

ES.5 2/3
• NOX -concentrazione di ossidi di azoto (parti per 10 milioni).
• RM -numero medio di stanze per abitazione 
• AGE -proporzione di unità abitative occupate da proprietari costruite prima del 1940 
• DIS - distanze ponderate da cinque centri occupazionali di Boston 
• RAD -indice di accessibilità alle autostrade radiali 
• TAX -aliquota dell'imposta fondiaria sul valore pieno per 10.000 dollari 
• PTRATIO - rapporto alunni-insegnanti per città 
• BLACK -la percentuale di neri per città 
• LSTAT - % di popolazione di condizione più bassa 8 
• MEDV -Valore mediano delle case, espresso in migliaia di dollari

In [108]:
df_boston[["nox", "rm", "age", "dis", "rad", "tax", "ptratio", "black", "lstat", "medv"]].describe().round(2)

,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
count,506.00,506.00,506.00,506.00,506.00,506.00,506.00,506.00,506.00,506.00
mean,0.55,6.28,68.57,3.80,9.55,408.24,18.46,356.67,12.65,22.53
std,0.12,0.70,28.15,2.11,8.71,168.54,2.16,91.29,7.14,9.20
min,0.38,3.56,2.90,1.13,1.00,187.00,12.60,0.32,1.73,5.00
25%,0.45,5.89,45.02,2.10,4.00,279.00,17.40,375.38,6.95,17.02
50%,0.54,6.21,77.50,3.21,5.00,330.00,19.05,391.44,11.36,21.20
75%,0.62,6.62,94.07,5.19,24.00,666.00,20.20,396.22,16.96,25.00
max,0.87,8.78,100.00,12.13,24.00,711.00,22.00,396.90,37.97,50.00

In [112]:
df_boston["chas"].value_counts()

chas
0    471
1     35
Name: count, dtype: int64

ES.5 3/3 
• La media del prezzo delle case cambia a seconda della distanza dal fiume Charles? 
• Si nota una correlazione tra il tasso di criminalità e il valore delle abitazioni? Come si può spiegare il risultato?
• Qual è la media del numero di stanze rispetto al rapporto alunni-insegnanti? E del valore delle case? Appare esserci una qualche correlazione? Come si può spiegare il risultato? 
• Rispetto all'accessibilità alle autostrade, cambia qualcosa la media delle età delle abitazioni? E del numero di stanze? E delle tasse?

In [114]:
# La media del prezzo delle case cambia a seconda della distanza dal fiume Charles?
df_boston.groupby("chas")["medv"].mean().round(2)

chas
0    22.09
1    28.44
Name: medv, dtype: float64

In [118]:
# Si nota una correlazione tra il tasso di criminalità e il valore delle abitazioni? Come si può spiegare il risultato?
df_boston[["crim", "medv"]].corr()

          crim      medv
crim  1.000000 -0.388305
medv -0.388305  1.000000

In [136]:
 # Qual è la media del numero di stanze rispetto al rapporto alunni-insegnanti? E del valore delle case? Appare esserci una qualche correlazione? Come si può spiegare il risultato?
df_boston["medv_q"] = pd.qcut(df_boston["medv"],10)
df_boston.groupby("medv_q")[["crim"]].mean().round(2)

C:\Users\UTENTE\AppData\Local\Temp\ipykernel_11000\148374924.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_boston.groupby("medv_q")[["crim"]].mean().round(2)

                 crim
medv_q
(4.999, 12.75]  18.64
(12.75, 15.3]    6.84
(15.3, 18.2]     3.45
(18.2, 19.7]     1.21
(19.7, 21.2]     1.36
(21.2, 22.7]     1.18
(22.7, 24.15]    0.94
(24.15, 28.2]    1.05
(28.2, 34.8]     0.25
(34.8, 50.0]     1.00

In [138]:
# Rispetto all'accessibilità alle autostrade, cambia qualcosa la media delle età delle abitazioni? E del numero di stanze? E delle tasse?
df_boston.groupby("rad")[["age", "rm", "tax"]].mean().round(2)

       age    rm     tax
rad
1    45.02  6.56  291.45
2    64.77  6.65  260.67
3    49.31  6.47  246.08
4    60.84  6.13  335.98
5    69.22  6.39  331.84
6    60.14  6.10  372.88
7    40.14  6.65  304.41
8    67.35  6.95  301.25
24   89.81  6.02  666.00

ES.6 1/3 Abbiamo un DataFrame di dipendenti:

In [146]:
employees_df = pd.DataFrame(
    { 'employee_id': [101, 102, 103, 104, 105], 
     'name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma'], 
     'department_id': [1, 2, 1, 2, 3] })

ES.6 2/3 E un DataFrame di dipartimenti:

In [148]:
departments_df = pd.DataFrame(
    { 'department_id': [1, 2, 3], 
     'department_name': ['HR', 'IT', 'Finance'], 
     'location': ['New York', 'San Francisco', 'Chicago'] })

ES.6 3/3 Unire questi DataFrame in base alla colonna comune department_id, in modo da avere nel risultato informazioni sia sui dipendenti che sui dipartimenti, usando la funzione .merge() 
• Per ogni DataFrame, trasformare la colonna department_id nell'indice, facendo in modo che la modifica sia permanente; poi unire i due dataset mediante il metodo .join() 
• Ci sono differenze nel risultato? Quali? Perché?

In [150]:
employees_departments_merge = employees_df.merge(
        departments_df, how = "inner", on = "department_id")
employees_departments_merge

   employee_id     name  department_id department_name       location
0          101    Alice              1              HR       New York
1          102      Bob              2              IT  San Francisco
2          103  Charlie              1              HR       New York
3          104    David              2              IT  San Francisco
4          105     Emma              3         Finance        Chicago

In [168]:
employees_df = employees_df.set_index("department_id")
departments_df = departments_df.set_index("department_id")
employees_departments_join = employees_df.join(
    department_df, on="department_id", how="inner"
)
employees_departments_join

KeyError: "None of ['department_id'] are in the columns"